- title = "Vision"
%h2 Organization
%ul
  %li
    Our building will be full of members of all ages, filled with Baruch
    Habah (welcome) humility, ruach, and religious experiences to fit every
    stage of Jewish life.
  %li
    Acknowledging our responsibility for one another, we will pledge our
    talents and resources to assure the well-being of our community.
  %li
    We will conduct the business of the synagogue with compassion,
    integrity, fiscal and environmental responsibility.
  %li
    All segments of the synagogue will work together respectfully; the
    leadership, the clergy, the school, the staff, and the congregants.
  %li
    Fulfilling our commitment to Conservative Judaism, we will actively
    participate in the Conservative Movement as a contemporary and
    progressive community.
%h2 
  We Are a Caring Community
%ul
  %li
    Where Jewish values are learned and lived in all aspects of
    synagogue life and is evident in the way we speak with and care for one
    another.
  %li
    Where we will celebrate with you in times of joy and support you in
    times of need.
  %li Where we will accept you for whom you are.
  %li
    Where we aspire to be a community where strangers become friends and
    friends become family, and we nurture each other on our paths to
    spirituality and wholeness.
%h2
  Religion and Spirituality
%ul
  %li
    Realizing we all pray differently, we will provide opportunities for
    prayers that are meaningful and relevant to a diverse community.
  %li
    Our Services will provide opportunities to explore your own
    understanding of being Jewish whether sitting in the congregation or
    leading from the bema.
  %li
    We will continue to be tolerant and respectful of others’ practice
    of Judaism and other religions and knowledgeable enough to know the
    differences.
  %li
    We will provide opportunities for religious growth whether it be
    leading services, reading Torah, blowing shofar, or participating in
    sermon dialog or study brunches.
  %li
    Recognizing the increasing rate of intermarriage, we will welcome
    the non-Jewish partner and offer opportunities for meaningful
    participation for the entire family.
%h2
  Support for Israel
%ul
  %li
    As a congregation and as individuals, we will have a strong
    connection to Israel.
  %li
    We will aspire to the Ahavat Yisrael model – a love for Israel and
    the Jewish people.
%h2 Tikkun Olam
%ul
  %li
    We will engage in Tikum Olam – repair of the world through social
    and economic justice, environmental stewardship, understanding through
    interfaith dialog, deeds of loving-kindness, and B’Shalom (in
    peace).
  %li
    We will follow the Shema which directs us to be responsible for one
    another. We will commit with our hearts, souls, and material resources
    to help those in need.
%h2
  Education
%ul
  %li
    As education is integral to living Jewish lives, we will commit
    ourselves to life-long Jewish study.
  %li
    We aspire to offer high-quality learning opportunities for our
    entire community.
  %li Our educational opportunities will prepare us to live Jewishly.
%p
  In these ways and more, we shall be a Kehilah Kedoshah &#8212; A Holy
  Community.
