.row.app-hero
  .4_col
  .4_col
    .card.app-donation-blurb
      %img{:src=>"images/TS-Logo.png"}
      %p
        %a{:href => "https://goo.gl/maps/varfs5HrXH6Pn8XTA"}
          %i.fa-map-marker
          2101 New Albany Road • Cinnaminson NJ 08077
        %br/
        %a{:href => "tel:8568290658"}
          %i.fa.fa-phone
          856-829-0658
        %br/
        %a{:href => "mailto:templesinainj2101@gmail.com"}
          %i.fa.fa-envelope
          templesinainj2101@gmail.com
      %button.btn donate
  .4_col
