

%span.nav{:onclick => "openNav()", :style => "background-color:white;font-size:30px;cursor:pointer"} ☰ open
#mySidenav.sidenav
  %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  %a{:href => "#"} About
  %a{:href => "#"} Services
  %a{:href => "#"} Clients
  %a{:href => "#"} Contact
