%section#app-services
  .row
    .6_col#app-services-cell
      .card
        %h2 Services
    .6_col
      .card
        %p
          Temple Sinai conducts weekly Friday night and Saturday morning,
          Shabbat services. Services are generally at 7:00 p.m. on Friday evening
          and 10 a.m. on Saturday morning. It is always a good idea to check the
          "Happenings" or call the office
          %a{:href => "tel:8568290658"}
            (856 829-0658)
          to check the Service schedule recording. Service times can
          also be found on our
          %a{:href => "https://www.templesinainj.com/site/calendar"}
            website calendar.
        %p
          Most months a Shabbat Service is designated as a Family Service. This
          service is oriented toward the children and includes participation from
          the children in our Religious School, who are expected to attend.
          Consult the Bulletin for dates and times.
        %p
          Every other month Temple Sinai holds a Tot Shabbat. This lively
          interactive Friday night service is especially for young children (six
          years old and younger) and their families. During a Tot Shabbat service,
          we celebrate the beauty and wonder of Shabbat through singing, dancing,
          and story telling, as well as teach basic Shabbat prayers, songs and
          rituals. Oneg Shabbat refreshments follow the service. Tot Shabbat is a
          wonderful way to introduce your toddler or preschooler to Jewish worship
          and to other children in the Temple Sinai community in a relaxed
          atmosphere. The Tot Shabbat is held at 7:00 pm and usually lasts 30 to
          45 minutes. Please refer to the Bulletin for dates.
        %p
          Services for the High Holidays are held on Slichot night, Rosh
          Hashanah and Yom Kippur. Morning services begin at 9:30 am and are held
          in the Main Sanctuary, led by Rabbi Reaboi. A Family Service for
          children and their parents lasts about 1 hour and is held in the chapel
          at 9:30 a.m. Refreshments are available for the children. Call 856
          829-0658 for more information. Congregants will receive High Holiday
          tickets, with service schedules, in the mail. Tickets are required for
          admission into the main High Holiday Services for security reasons, and
          are included as part of your dues. Seating is on a first come basis.
        %h2 Torah Spark
        %p
          Come join Rabbi Reaboi on Saturday’s at 10am for our weekly Torah
          spark, where we read through the weekly Torah portion and discuss it
          from several different perspectives: theological, cultural, political,
          and communal. No prior knowledge is required. Just come ready to learn
          and engage with the text and your fellow congregants.
        %p
          Special note: Weekly Torah sparks are typically postponed when we are
          having traditional Saturday morning services or holiday programming.
        %details
          %summary
            Friday
          %h2 Join Us for Shabbat
          %p
            %img{:src => "https://www.templesinainj.com/wp-content/uploads/2020/05/word-image-18.png"}/
          %p
            7:00 PM Shabbat Service with Rabbi Reaboi and the Temple Sinai
            Singers.
        %details
          %summary
            Every Saturday
          %p
            Come join Rabbi Reaboi on Saturdays at 10am for our Torah Spark,
            where we read through the weekly Torah portion and discuss it from
            several different perspectives: theological, cultural, political, and
            communal. No prior knowledge is required. Just come ready to learn and
            engage with the text and your fellow congregants. For the links to our
            Zoom events please contact Rose Rose at
            %a{:href => "mailto:Rose9483@verizon.net"} Rose9483@verizon.net
            or the Temple Sinai office at
            %a{:href => "tel:8568290658"} 856 829-0658
            %strong or
          %h2 In Person Services
          %p
            Come join Rabbi Reaboi on Saturdays at 10am in person and on Zoom for
            our Torah service, we will do a mini Torah Spark during the service. A
            kiddush luncheon usually follows each service. For the links to our Zoom
            events please contact Rose Rose at
            %a{:href => "mailto:Rose9483@verizon.net"} Rose9483@verizon.net
            or the
            Temple Sinai office at
            %a{:href => "tel:8568290658"} 856 829-0658
          .card 
            %h2 Havdallah
            %p
              %img{:src => "https://www.templesinainj.com/wp-content/uploads/2020/04/800px-Havdalah.jpg"}/
            %p
              Saturday at 7:00 PM, pour a cup of wine, grab your cinnamon spice and
              join us in beginning the new week. With light, fragrance, a sweet sip of
              wine and a shout-out to Elijah the Prophet, we can look forward to a new
              week. If you need information to join us on Zoom, please contact Rose
              Rose at 
              %a{:href => "mailto:Rose9483@verizon.net"}> Rose9483@verizon.net
              or phone the office.
        %details
          %summary
            Every Wednesday
          %p
            %img{:src => "https://www.templesinainj.com/wp-content/uploads/2021/09/Morning-Minyan-e1630767959713.jpg"}/
          %p
            8:20-9:00 AM This is your opportunity to say Kaddish or do a mitzvah
            and be present so someone else can say Kaddish.
  %br
  %hr
